.button {
  display: block;
  margin: 60px 0;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;

  cursor: pointer;

  color: #ff57b2;
}
